# Adding google authentication credenttial files for the auto emailing application.
token.json
client_secret.json
__pycache__/
client_secret.json:Zone.Identifier
read_email.ipynb
Payments_MgtFee__dataCleaning.sql
Payments_MgtFee__dataCleaning2.sql
management_fee_calculator.sql